body {
  /* text-align: center; */

  background-color: #1c2342;
  color: azure;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "board"
    "btn";
  grid-gap: 10px;
}
.header {
  text-align: center;
  display: grid;
  grid-template-areas:
    "symbol"
    "scoreBoard";
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.board {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "box box box "
    "box box box"
    "box box box";
}

.box {
  border: 2px solid whitesmoke;
  height: auto;
  width: auto;
  padding: auto;
}

.scoreBoard {
  padding: 0px 20px;
  border: 2px dashed brown;
}

.stitle {
  font-style: oblique;
}

.scoreNum {
  font-size: 45px;
}

.headTitle {
  text-align: center;
  text-decoration: none;
  color: rgb(247, 36, 36);
  padding-top: 10px;
  margin: 0;
}
.symbol h1 {
  padding-bottom: 10px;
}
.btn {
  margin: 0px 10px 5px 10px;
  padding: 10px 10px;
  background-color: chocolate;
}
